.divZaNaslov{
    background-color: aquamarine;
    height: 5%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

html,body{
    height: 100%;
    padding:0px;
    margin:0px;
}

title{
    display: flex;
    height: 100%;
}

.divGlavni{
    background-color: rosybrown;
    height: 95%;
}

.divPopularno{
    display: flex;
    flex-direction: row;
    height: 60%;
    background-color: bisque;
    flex-wrap: wrap;
}

.divOstaleKategorije{
    width: 100%;
    height: 40%;
    background-color: chocolate;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.divKategorijaKartica{
    background-color: antiquewhite;
    height: 40%;
    width: 10%;
    text-align:center;
    margin: 5px;
    border-radius: 10px;

}

.divZaProizvode{
    height: 30%;
    width: 20%;
    margin: 15px;
    border-radius: 10px;
    background-color:cornflowerblue;
    display: flex;
    flex-direction: column;

}
.divNaslov{
    padding-left: 15px;
    text-align: start;
    font-weight:800;
    font-size:xx-large;
}

.divZaSliku{
    text-align: center;
    height: 50%;    
    border-radius: 10px;
    background-color:chartreuse ;
}

.divZaLabela{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.divZaLabela label, .divZaInformacije label{
    margin-left: 5px;
    margin-top: 5px;
}

.divZaOpisProizvoda{
    height: 50%;
    display: flex;
    flex-direction: row;
}
.divZaInformacije{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divZaOpcije{
    width: 20%;
    height: 100%;
}

.naslovKategorije{
    font-size: x-large;
    font-weight: 600;
    padding: 15px;
    width: 100%;
    height: max-content;
}

.naslovProizvodjaca{
    font-size: large;
    font-weight: 400;
    padding: 15px;
    padding-top: 10px;
    width: 100%;
    height: max-content;
}
.divProizvodjac{
    padding-left: 10px;
}

.divZaCenu{
    padding-top: 15px;
    padding-left: 10px;
    font-size: larger;
    font-weight: 500;
}
.UnosCene{
    width: 80%;
}

.dugmeZaFiltere{
    margin-top: 10px;
    margin-left: 10px;
}

.divZaPrikaz{
    display: flex;
    width: 100%;
    height: 100%;
}
.divcinaZaProizvode{
    height: 100%;
    width: 100%;
}

.divZaOpis{
    display: flex;
    flex-direction: column;
}

.labelaCena, .labelBrojProdavnica{
    margin-top: 5px;
    text-align: center;
}

.dugmeUporedi{
    margin-top: 5px;
    align-self: center;
    width: 70%;
}

.divZaCenu{
    display: flex;
    flex-direction: column;
}

.divKarticaZaPonudu{
    display: flex;
    flex-direction: column;
    background-color:azure;
    width: 100%;
    height: 100%;
    align-items: center;
}
.divKartica{
    display: flex;
    flex-direction: row;
    background-color: brown;
    width: 95%;
    border-radius: 10px;
    height: 40px;
    margin: 10px;
}
.divProizvod{
    display: flex;
    align-content: space-around;
    width: 100%;
    height: 30%;
    background-color: cadetblue;
}

.divZaSlikuProizvoda{
    background-color: cyan;
    width: 30%;
    height: 90%;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    border-radius: 10px;
    margin: 10px;
}

.divZaOpisProizvodaPonuda{
    background-color: burlywood;
    width: 100%;
    height: 90%;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.divZaNaslovProizovda{
    text-align: left;
    font-size: x-large;
    font-weight: 800;
}

.divOpis{
    text-align: left;
    font-size: large;
    font-weight: 600;
}
.divNaStanju{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: aqua;
}
.divKartica{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.divKartica label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-bottom: 20px;
  }
  
  .form-container h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-align: center;
  }
  
  .form-input {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-input:focus {
    outline: none;
    border-color: #6fb7ff;
  }
  
  .form-button {
    background-color: #6fb7ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #5fa0db;
  }
