.divZaNaslov{
    background-color: aquamarine;
    height: 5%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

html,body{
    height: 100%;
    padding:0px;
    margin:0px;
}

title{
    display: flex;
    height: 100%;
}

.divGlavni{
    background-color: rosybrown;
    height: 95%;
}

.divPopularno{
    display: flex;
    flex-direction: row;
    height: 60%;
    background-color: bisque;
    flex-wrap: wrap;
}

.divOstaleKategorije{
    width: 100%;
    height: 40%;
    background-color: chocolate;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.divKategorijaKartica{
    background-color: antiquewhite;
    height: 40%;
    width: 10%;
    text-align:center;
    margin: 5px;
    border-radius: 10px;

}

.divZaProizvode{
    height: 30%;
    width: 20%;
    margin: 15px;
    border-radius: 10px;
    background-color:cornflowerblue;
    display: flex;
    flex-direction: column;

}
.divNaslov{
    padding-left: 15px;
    text-align: start;
    font-weight:800;
    font-size:xx-large;
}

.divZaSliku{
    text-align: center;
    height: 50%;    
    border-radius: 10px;
    background-color:chartreuse ;
}

.divZaLabela{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.divZaLabela label, .divZaInformacije label{
    margin-left: 5px;
    margin-top: 5px;
}

.divZaOpisProizvoda{
    height: 50%;
    display: flex;
    flex-direction: row;
}
.divZaInformacije{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divZaOpcije{
    width: 20%;
    height: 100%;
}

.naslovKategorije{
    font-size: x-large;
    font-weight: 600;
    padding: 15px;
    width: 100%;
    height: max-content;
}

.naslovProizvodjaca{
    font-size: large;
    font-weight: 400;
    padding: 15px;
    padding-top: 10px;
    width: 100%;
    height: max-content;
}
.divProizvodjac{
    padding-left: 10px;
}

.divZaCenu{
    padding-top: 15px;
    padding-left: 10px;
    font-size: larger;
    font-weight: 500;
}
.UnosCene{
    width: 80%;
}

.dugmeZaFiltere{
    margin-top: 10px;
    margin-left: 10px;
}

.divZaPrikaz{
    display: flex;
    width: 100%;
    height: 100%;
}
.divcinaZaProizvode{
    height: 100%;
    width: 100%;
}

.divZaOpis{
    display: flex;
    flex-direction: column;
}

.labelaCena, .labelBrojProdavnica{
    margin-top: 5px;
    text-align: center;
}

.dugmeUporedi{
    margin-top: 5px;
    align-self: center;
    width: 70%;
}

.divZaCenu{
    display: flex;
    flex-direction: column;
}
